*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(82,202,249);
    background: linear-gradient(54deg, rgba(82,202,249,1) 0%, rgba(141,246,160,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}
#root{
    height: 100vh;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.slides-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slides-area p{
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.slides-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
    overflow:hidden;
    margin: 0 30px;
}
.slide{
    background-color: white;
    border-radius: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 30px;
    padding: 10px;
    cursor: pointer;
}
.slide img{
    width: 30vw;
}
.slide p{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
.points-list{
    display: flex;
    justify-content: center;
}
.active-circle{
    width: 20px;
    height: 20px;
    border: white 2px solid;
    border-radius: 50%;
}
.not-active-circle{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}
.circle{
    margin: 0 5px;
}